/* التكليف الاول */
/* div {
    border: 1px solid green;
    width: 400px;
    height: 100px;
    margin: 25px;
    padding: 10px;
}

div p {
    border: inherit;
    text-align: center;
    margin: inherit;
    padding: inherit;
    background-color: #eee;
} */



/* التكليف الثانى */
/* div {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.one {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.two {
    font-family: "Cairo";
    font-weight: 700;
}

.three {
    font-family: "Jomhuria";
    font-weight: 400;
} */



/* التكليف الثالث */
/* html {
    font-size: 20px;
}

div {
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

.one {
    font-size: 2.5rem;
}

.two {
    font-size: 2rem;
}

.three {
    font-size: 1.5rem;
} */